<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Favorites test</title>
    <link rel="stylesheet" href="../static/css/favorites.css">
    <link rel="stylesheet" href="../static/css/master.css">
  </head>
  <body>
    <div class="favorites">
      <div class="favorites-header">
        <h2>Favorites</h2>
        <button type="button" class="load-selected" name="load">[load]</button>
        <button type="button" name="edit-favorite">[e]</button>
        <button type="button" name="delete-favorite">[d]</button>
      </div>
      <ul>
        <li class="favorite-thumb add-current" data-color="{{wheel_color_value}}">
          <div class="add-symbol">
            +
          </div>
          <div class="color-preview" data-rgb="#ff0000" data-w="dd">

          </div>
          <div class="color-description">
            [Add color]
          </div>
        </li>
      </ul>
    </div>

    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script type="text/javascript"
      src="../static/jquery-wheelcolorpicker/jquery.wheelcolorpicker.js">
    </script>
    <script type="text/javascript" src="../static/js/color.js"></script>
    <script type="text/javascript" src="../static/js/inputLED.js"></script>
    <script type="text/javascript" src="../static/js/favorites.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
  </body>
</html>
