<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Favorites test</title>
    <link rel="stylesheet" href="../static/css/favorites.css">
  </head>
  <body>
    <div class="favorites">
      <div class="favorites-header">
        <h2>Favorites</h2>
        <button type="button" class="load-selected" name="load">[load]</button>
        <button type="button" name="edit-favorite">[e]</button>
        <button type="button" name="delete-favorite">[d]</button>
      </div>
      <ul>
        <li class="favorite-thumb add-current">
          +
        </li>
        <li class="favorite-thumb add-current">
          +
        </li>
        <li class="favorite-thumb add-current">
          +
        </li>
        <li class="favorite-thumb add-current">
          +
        </li>
        <li class="favorite-thumb add-current">
          +
        </li>
        <li class="favorite-thumb add-current">
          +
        </li>
        <li class="favorite-thumb add-current">
          +
        </li>
        <li class="favorite-thumb add-current">
          +
        </li>
        <li class="favorite-thumb add-current">
          +
        </li>
        <li class="favorite-thumb add-current">
          +
        </li>
        <li class="favorite-thumb add-current">
          +
        </li>
        <li class="favorite-thumb add-current">
          +
        </li>
        <li class="favorite-thumb add-current">
          +
        </li>
      </ul>
    </div>
  </body>
</html>
