<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/master.css">
    <link rel="stylesheet" href="../static/css/ranges.css">
    <link rel="stylesheet" href="../static/css/favorites.css">
    <link type="text/css" rel="stylesheet" href="../static/jquery-wheelcolorpicker/css/wheelcolorpicker.css" />
    <title>Home Server</title>
  </head>
  <body>
    <form method="post" class="led-input-container" id="single-led">
      <input class="wheel-color-picker" type="text"
          value="{{wheel_color_value}}" data-wheelcolorpicker
          data-wcp-layout="block" data-wcp-sliders="wv"
          data-wcp-cssClass="wheel-color-picker" data-wcp-autoResize="false"/>

        <div class="led-input-row"
            data-hex="#ff0000"
            data-name="red">
        </div>
        <div class="led-input-row"
            data-hex="#00ff00"
            data-name="green">
        </div>
        <div class="led-input-row"
            data-hex="#0000ff"
            data-name="blue">
        </div>
        <div class="led-input-row"
            data-hex="#ffffff"
            data-name="white">
        </div>

        <div class="color-preview"></div>

      <div class="favorites">
        <div class="favorites-header">
          <h2>Favorites</h2>
          <button type="button" class="load-selected" name="load">[load]</button>
          <button type="button" name="edit-favorite">[e]</button>
          <button type="button" name="delete-favorite">[d]</button>
        </div>
        <ul>
          <li class="favorite-thumb" data-color="#00ee00dd">
            <div class="color-preview">
            </div>
            <div class="color-description">
              Greenish
            </div>
          </li>
          <li class="favorite-thumb add-current" data-color="{{wheel_color_value}}">
            <div class="color-preview">
            </div>
            <div class="color-description">
              +
            </div>
          </li>
        </ul>
      </div>
    </form>

    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <!-- <script type="text/javascript"
      src="/Users/bridger/Desktop/jquery-3.2.1.min.js">
    </script> -->
    <script type="text/javascript"
      src="../static/jquery-wheelcolorpicker/jquery.wheelcolorpicker.js">
    </script>
    <script type="text/javascript" src="../static/js/color.js"></script>
    <script type="text/javascript" src="../static/js/inputLED.js"></script>
    <script type="text/javascript" src="../static/js/favorites.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script> -->
  </body>
</html>
