<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/master.css">
    <link rel="stylesheet" href="../static/css/ranges.css">
    <link type="text/css" rel="stylesheet" href="../static/jquery-wheelcolorpicker/css/wheelcolorpicker.css" />
    <title>Home Server</title>
  </head>
  <body>
    <form method="post" class="led-input-container" id="single-led">
      <div class="color-mixer-box"></div>

      <input class="wheel-color-picker" type="text"
          value="{{wheel_color_value}}" data-wheelcolorpicker
          data-wcp-layout="block" data-wcp-sliders="wva"
          data-wcp-cssClass="wheel-color-picker" data-wcp-autoResize="false"/>

        <div class="led-input-row"
            data-hex="#ff0000"
            data-name="red">
        </div>
        <div class="led-input-row"
            data-hex="#00ff00"
            data-name="green">
        </div>
        <div class="led-input-row"
            data-hex="#0000ff"
            data-name="blue">
        </div>
        <div class="led-input-row"
            data-hex="#ffffff"
            data-name="white">
        </div>
    </form>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script type="text/javascript"
      src="../static/jquery-wheelcolorpicker/jquery.wheelcolorpicker.js">
    </script>
    <script type="text/javascript" src="../static/js/color.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script> -->
  </body>
</html>
