
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center
}

.container #gradient-preview {
  margin: 10px;
  width: 90vw;
}

.centered {
  display: flex;
  justify-content: space-around;
  width: 90vw;
}

.touchable {
  width: 20%;
  height: 10vh;
  font-size: 5vh;
}

.flex-cols {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.flex-rows {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-width {
  /* height: 50vh; */
  width: 70%;
}

.input-slider {
  width: 100%;
  margin: 10px;
  background-size: 100%;
}

.vertical-range {
  height: 100%;
  /* top: 40%; */
  width: 100%;
  transform: rotateZ(270deg);
}
