/* COLORS:
 * #161616
 * #737373
 */

.led-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.color-input {
  width: 100%;
}

.led-input-row {
  width: 60%;
  padding: 5px;
}

.wheel-color-picker {
  height: 500px !important;
  width: 60% !important;
  border-radius: 0;
}

.color-mixer-box {
  display: inline-block;
  height: 40px;
  width: 70%;
  background-color: blue;
  border: black 1px solid;
  margin: 5px;
}
