/* COLORS:
 * #161616
 * #737373DD
 */

.led-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-input {
  width: 100%;
}

.led-input-row {
  width: 60%;
  padding: 5px;
}

.wheel-color-picker {
  height: calc(60vh*0.48) !important;
  width: 60% !important;
  border-radius: 0;
}

.color-preview {
  display: inline-block;
  height: 5vh;
  width: 70%;
  border: black 1px solid;
  margin: 5px;
}
.color-preview.small {
  height: 2vh;
}
.color-preview * {
  display: inline-block;
  height: 100%
}
.rgb-preview {
  width: 80%;
}
.w-preview {
  width: 20%;
}
