.led-input-container {
  width: 45%;
}
.led-input-row * {
  padding: 5px 0;
  display: inline-block;
  vertical-align: middle;
}

.color-preview-box {
  width: 4ex;
  height: 100%;
  border: black 1px solid;
}

.color-mixer-box {
  display: inline-block;
  height: 20px;
  width: 100%;
  background-color: blue;
  border: black 1px solid;
}

.color-input {
  width: 85%;
}
