/* Inspiration from https://stackoverflow.com/a/38163892 *

/* Chrome */
input[type='range'] {
  -webkit-appearance: none;
  overflow: hidden;
  background-color: #161616;
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 60px;
  border: black 2px solid;
  border-radius: 2px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 80px;
  height: 56px;
  background: #999D; /* To be replaced by RGBW */
  border: solid 2px white;
  border-radius: 2px;
}
